.cards-component {
  width: 42%;
  margin-bottom: 60px;
}

.cards-component .drag * {
  pointer-events: none
}

.cards-component h2 {
  color: white;
  margin: 10px;
}

#available-component {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  overflow: scroll;
}

