.cards-component {
  width: 42%;
  margin-bottom: 60px;
}

.cards-component h2 {
  color: white;
  margin: 10px;
}

#available-component {
  margin-left: 60px;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 550px;
  height: 90%;
  overflow-x: auto;
}