body {
  background-image: url('../../images/mirrored_enlarged_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

header {
  position: absolute;
  top: 0;
  height: 50px
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px
}

h1 {
  margin: 5px;
}
