.deck-builder {
  display: flex;
  position: absolute;
  top: 50px;
  bottom: 50px;
}

#class-info {
  width: 220px;
  text-align: center;
  color: white;
  margin: auto;
}

#class-info img {
  width: 100%;
}

#class-info button {
  display: block;
  margin: 5px auto;
}

#class-info h2 {
  margin: 10px 10px 10px 15px;
}

#class-info h3 {
  display: inline-block;
  margin: 10px;
}

#class-info h4 {
  margin-bottom: 0;
}

#class-info button.inline-button {
  display: inline-block;
}