body {
  background-color: black;
  background-image: url("../../images/background/background.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  padding: 5% 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  position: absolute;
  top: 0;
  height: 50px;
  background: none;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  background: none;
}

h1 {
  margin: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
