header {
  text-align: center;
  width: 100vw;
  height: 100px;
  background-color: transparent;
}

.header-title-image {
  height: 90px;
  margin: -10px auto;
}

@media screen and (max-width: 900px){

  .header-title-image {
    width: 50vw
  }
  
}

