.deck-builder {
  display: flex;
  position: absolute;
  top: 50px;
  bottom: 50px;
}

#class-info {
  display: flex;
  flex-direction: column;
  width: 190px;
  text-align: center;
  color: white;
  margin: 40px auto 0 auto;
}

#class-info img {
  width: 180px;
  height: 280px;
  border: 5px outset #666666;
  pointer-events: none;
}

#class-info #feedback-container {
  position: absolute;
}

#class-info #feedback-container img {
  border: 5px outset #c20000;

}

#class-info #feedback-content {
  display: flex;
  position: relative;
  top: -240px;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  pointer-events: none;
}

#class-info #feedback-content p {
  position: relative;
  left: 40px;
  margin: 0;
  width: 100px;
  font-family: 'Nyala';
  font-size: 24px;
  color: #000000;
  pointer-events: none;
}

#class-info #stats {
  flex: 1 1;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 0;
  border: 5px outset #666666;
}

#class-info #level-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#class-info button {
  display: block;
  width: 80%;
  height: 22px;
  margin: 12px auto;
  background-image: url('../../images/button-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

#class-info h2 {
  font-family: "Pirata";
  letter-spacing: 2px;
  margin: 10px 10px 5px 15px;
}

#class-info h3 {
  display: inline-block;
  margin: 6px 15px;
  font-size: 24px;
}

#class-info h4 {
  font-family: "Nyala";
  font-size: 24px;
  margin: 15px 0 0 0;
}

#class-info h5 {
  font-family: "Nyala";
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
}

#class-info #number-cards {
  font-size: 18px;
  margin: 5px;
}

#class-info .inline-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 0;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-color: transparent;
  outline: none;
  border: none;
}

#class-info button#decrease-level {
  background-image: url('../../images/minus1.png');
}

#class-info button#increase-level {
  background-image: url('../../images/plus1.png');
}

#class-info #class-select-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: left;
}

#class-info ul {
  list-style-type: none;
  cursor: pointer;
}
#class-info .hidden {
  display: none
}
