.deck-builder {
  display: flex;
  position: absolute;
  top: 50px;
  bottom: 50px;
}

#class-info {
  width: 220px;
  text-align: center;
  color: white;
  margin: 0 auto;
}

#class-info img {
  width: 100%;
  border: 5px outset #666666;
}

#class-info button {
  display: block;
  margin: 5px auto;
}

#class-info h2 {
  font-family: "Pirata";
  letter-spacing: 2px;
  margin: 10px 10px 10px 15px;
}

#class-info h3 {
  display: inline-block;
  margin: 10px;
}

#class-info h4 {
  font-family: "Nyala";
  font-size: 24px;
  margin-bottom: 0;
}

#class-info #number-cards {
  font-size: 18px;
}

#class-info button.inline-button {
  display: inline-block;
}

#class-info .hidden {
  display: none
}
