footer {
  text-align: center;
  width: 100vw;
  max-height: 65px;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  color: white;
  font-family: "HighTower";
  transition: all 1s;
}

footer:hover {
  max-height: 80vh;
}

.saved-decks-tab {
  width: 190px;
  margin: auto;
  background: rgba(210, 210, 210, 0.3);
  border-radius: 5px;
  position: relative;
  top: 15px;
}

.saved-decks-title {
  font-size: 26px;
}

.saved-decks-container {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  border-radius: 25px 25px 0 0;
}

#decks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin-left: 3%;
}

#decks-container h1 {
  width: 20vw;
  white-space: nowrap;
  color: black;
}

#decks-container img {
  position: relative;
  top: 10px;
}

.saved-deck {
  flex-basis: 42.5%;
  white-space: pre;
  background-color: rgba(210, 210, 210, 0.5);
  margin: 10px;
  border-radius: 10px;
  height: 65px
}

.saved-deck-classImg {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.saved-deck-name {
  font-size: 26px;
  display: inline-block;
  line-height: 50px;
  margin: 0;
  text-decoration: none;
}

#decks-container button {
  background-color: transparent;
  border: none;
  outline: none;
}

.saved-deck-deleteImg {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.sign-in-request {
  margin-bottom: 0;
  flex-basis: 100%;
}

.sign-in-request p {
  font-family: 'Nyala';
  font-size: 24px;
  margin-bottom: 0;
}

.sign-out {
  cursor: pointer;
  flex-basis: 100%;
}